
body {
background: #F7F9FA;

}
.icon {
    float: right;
    padding-right: 15px;
    margin-top: -10px;
    color: #e0e0e0;
 }
 .icon:hover{
     color: #6fcf97;
 } 
#container{
	width: 500px;
	margin: 0 auto;
}
h1 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 48px;
color: #2F80ED;
left: 470px;
top: 32px

}
#taskInput{ /*laukelis inputo*/
background: #FFFFFF;
width: 100%;
height: 53px;
border: 1px solid #E0E0E0;
box-sizing: border-box;
box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1);
border-radius: 4px;
	padding-left: 15px;
	margin-bottom: 20px;
}
#taskInput::placeholder{

	color:#b0b0b0;
}
.counter{
 display: -webkit-inline-box;

	color:#b0b0b0;
}
input {
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 16px;
color: #828282;
width: 110px;
height: 21px;
}
.date-counter{
    padding-left: 15px;
    margin: 0;
    font-size: 8pt;
    color: #d6d6d6;
    padding-top: 12px;
}

.pending-task{
display: -webkit-inline-box;
margin: 0;
padding-left: 15px;
color: #929292;
}


ul li{
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    border-radius: 5px; 
    -webkit-box-shadow:  0px 3px 8px 3px rgba(235,237,238,1);
    -moz-box-shadow:  0px 3px 8px 3px rgba(235,237,238,1);
    box-shadow:  0px 3px 8px 3px rgba(235,237,238,1);
    font-family: Roboto;
    font-size: 18px;
    color: #828282;
        margin-bottom: 15px;

}


h3{
    display: -webkit-inline-box;
}



h3{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 22px;
color: #828282;
    margin: 0;
}


i:hover {
color: #6FCF97;
}

ul{

    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 35px;

}
#done{
    background-color: transparent;
    box-shadow: none;
}
.done-task{
    margin: 0;
    padding-top: 15px;
     text-decoration: line-through;
     color: #bdbdbd;
     font-size: 12pt;
}
@media only screen and (max-width: 550px) {
    #container{
        width: 100%;
    }

} 